.card {
    height: 100% !important;
}

.set-price-btn {
    padding: 10px !important;
}

.btn-text {
    font-size: 12px !important;
}

.text-price {
    font-size: 14px;
}

h4.card-title {
    color: #022b3a;
}

h4.card-title:hover {
    color: #1f7a8c;
}

.btn-lightblue {
    color: #fff !important;
    background-color: #1f7a8c !important;
}
.btn-lightblue:hover {
    color: #fff !important;
    background-color: #022b3a !important;
}