/* Nav Icon Toggle (mobile nav)
-------------------------------------------------------*/
.nav-icon-toggle {
    position: relative;
    padding: 9px 5px 9px 10px;
    background-color: transparent;
    border: none;
    z-index: 50;
    margin-right: 10px;
  }
  
  @media only screen and (min-width: 992px) {
    .nav-icon-toggle {
      display: none;
    }
  }
  
  .nav-icon-toggle-bar {
    background-color: #21232b;
    width: 18px;
    display: block;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 4px;
  }
  
  .nav-icon-toggle-bar:last-child {
    margin-bottom: 0;
  }
  
  .nav-icon-toggle:focus .nav-icon-toggle-bar,
  .nav-icon-toggle:hover .nav-icon-toggle-bar {
    background-color: #b09980;
  }